<% content_for :body_class, 'validator-show' %>

<%= render partial: '/cosmoslike/shared/chain_header', locals: { active_tab: '', events_link: true, tx_search_link: true, reports_link: true } %>

<div class='validator-header'>
  <div class='container'>
    <div class='d-flex flex-wrap'>
      <div class='mr-auto pb-4'>
        <div class='d-flex align-items-center flex-wrap'>
          <% if @validator.has_info? %>
            <h2 class='validator-header__title'><%= @validator.moniker.truncate(40, separator: '...') %></h2>
            <% if @validator.info_field( 'description', 'website' ) && (url = heuristic_url(@validator.info_field( 'description', 'website' ))) %>
              <%= link_to url, class: 'external-link', target: :blank do %>
                <%= url %>&nbsp;&nbsp;<span class='fas fa-external-link-alt'></span>
              <% end -%>
            <% end -%>
          <% else -%>
          <div>
            <h2 class="validator-header__title">Validator</h2>
            <p class="data-block__value d-block word-break mt-2"><%= @validator.address %></p>
          </div>
          <% end -%>
        </div>
        <% if @chain.supports_ledger? -%>
          <button class='stake-button mt-4' data-modal='#delegation-modal'
                  data-validator="<%= @validator.owner %>"
                  data-endpoint="<%= cosmos_chain_path(@chain) %>"
                  data-token-display="<%= @chain.token_display %>"
                  data-token-factor="<%= @chain.token_factor %>"
                  data-remote-denom="<%= @chain.primary_token %>"
                  data-chain-id="<%= @chain.ext_id %>"
                  data-testnet="<%= @chain.testnet? %>">
            Stake Now
          </button>
      <% end -%>
      </div>
      <div class='validator-info pb-4'>
        <ul class="validator-info__list">
          <% if @validator.has_info? -%>
            <li class="validator-info__item">
              <p class="text-label validator-info__label">Owner</p>
              <p class="validator-info__value technical"><%= @validator.owner %></p>
            </li>
          <% end -%>

          <% if @validator.has_info? -%>
          <li class="validator-info__item">
            <p class="text-label validator-info__label">Address</p>
            <p class="validator-info__value technical"><%= @validator.address %></p>
          </li>
          <% end -%>
          <% if @validator.account -%>
            <li class="validator-info__item">
              <p class="text-label validator-info__label">Account</p>
              <%= link_to namespaced_path( 'account', @validator.account ), class: "validator-info__value technical" do %>
                <%= @validator.account.address %>
              <% end -%>
            </li>
          <% end -%>
        </ul>
      </div>
    </div>

  </div>
</div>

<div class='content'>
  <div class='container'>
    <%= render_flash_messages %>
    <%= render partial: '/cosmoslike/shared/sync_errors' %>

    <div class='row'>
      <div class='col-md-12 col-lg-6 mb-4 pb-2'>
        <ul class="data-blocks__list">
          <li class="data-blocks__item">
            <%= render partial: 'current_voting_power' %>
          </li>
          <li class="data-blocks__item">
            <%= render partial: 'uptime' %>
          </li>
          <li class="data-blocks__item">
            <%= render partial: 'lifetime' %>
          </li>
          <li class="data-blocks__item">
            <%= render partial: 'commission' %>
          </li>
        </ul>
        <%= render partial: 'big_charts' %>
        <% if @chain.governance_params_synced? -%>
          <%= render partial: 'governance' %>
        <% end -%>
        <%# This causes an eager load warning in dev, but we temporarily want to disable delegations in Cosmos 4 and Columbus 4 %>
        <%= render partial: 'delegations' unless disabled_delegations?(@chain) %>
      </div>

      <div class='col-md-12 col-lg-6'>
        <%= render partial: 'blocks' %>
        <%= render partial: 'events' %>
        <%= render partial: 'pending_rewards' %>
      </div>
    </div>
  </div>
</div>

<%= render "delegation_modal", chain: @chain, validator: @validator %>
