<% content_for :body_class, "transaction-show" %>

<%= render "/shared/dh_banner_script" %>
<% content_for :additional_header_tabs do %>
  <%= render partial: 'shared/chain_header_link', locals: { active_tab: '', link_text: 'Search', link_path:  avalanche_chain_transactions_url(@chain) } %>
  <%= render partial: 'shared/chain_header_link', locals: { active_tab: '', link_text: 'Events', link_path:  avalanche_chain_events_url(@chain) } %>

<% end %>
<%= render partial: "shared/chain_header", locals: { active_tab: ''} %>

<%= render_flash_messages %>

<div class='container'>
  <div class='content'>
    <div class="data-block my-4">
      <label class="data-block__title">TRANSACTION</label>
      <div class='data-block__value d-block word-break'>
        <%= @transaction.id %>
      </div>
    </div>

    <div class="row info-cards">
      <div class="col-12 order-1 order-md-0">
        <%= render "avalanche/transactions/show/details", transaction: @transaction, chain: @chain %>
      </div>
    </div>
  </div>
</div>
