<h3>
  Validator Event for
  <%= link_to @event.item_id, near_chain_validator_path(@chain, @event.item_id) %>
</h3>
<div class='mt-3'>
  <div class='d-flex align-items-center text-lg'>
    <div class="mr-3 event-details event-<%= @event.action %>">
    </div>
    <div class='event-content event-information'>
      <span class='paragraph'>
        <%= format_event_data(@event)%>
      </span>
      <span class='technical event-history__block'>
        <%= link_to @event.block_height, near_chain_block_path( @chain, @event.block_height ) %>
      </span>
    </div>
    <span class='timestamp text-sm text-muted text-nowrap ml-auto'>
      <%= format_date(@event.created_at) %>
    </span>
  </div>
</div>
