<div class='data-table events-table'>
  <div class='d-flex align-items-center flex-grow-1 py-2 events-table-header'>
    <h3 class="data-table__title">Events</h3>
    <input type='text' class='form-control form-control-sm events-search' placeholder='filter events...'>
    <% if !current_user %>
      <div data-toggle='tooltip' title='Sign up to subscribe to alerts!'>
        <%= link_to 'Subscribe', new_user_path, class: "button-secondary" %>
      </div>
    <% else -%>
      <%= link_to (current_user.subscribed_to?(@alertable_address) ? 'Edit Subscription' : 'Subscribe to Alerts'), avalanche_chain_validator_subscriptions_path(@chain, @validator.validator.node_id), class: "button-secondary" %>
    <% end -%>
  </div>
  <div class='table-responsive'>
    <table class='w-100'>
      <thead>
      <tr>
        <th>Event</th>
        <th>Block</th>
        <th>Date</th>
      </tr>
      </thead>
      <tbody>
      <% if @events.blank? -%>
        <tr>
          <td class='data-table__empty' colspan='3'>No Events available.</td>
        </tr>
      <% else -%>
        <% @events.each do |event| -%>
          <tr>
            <td class="event-<%= event.type %>">
              <%= format_avalanche_event_data(event).html_safe %>
            </td>
            <td>
              <%= event.block_height %>
            </td>
            <td class="text-underline">
              <%= link_to format_date(event.timestamp), avalanche_chain_event_path(@chain, event.id) %>
            </td>
          </tr>
        <% end -%>
      <% end -%>
      </tbody>
    </table>
  </div>
</div>
<%= render 'common/events_pagination/events_pagination' %>
